body {
    height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: lightblue;
}

.start-section {
    text-align: center;
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.title {
    text-align: center;
    color: white;
    font-size: 48px;
    text-shadow: 4px 4px 5px #000000;
}

.btn-style-one {
  display: inline-block;
  padding: 15px 50px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: -1px 9px #999;
}

.btn-style-one:hover {
    background-color: #3e8e41
}

.btn-style-one:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.play-section {
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.play-area {
    width: 50%;
    border: 2px solid black;
    border-radius: 8px;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.title-two {
    text-align: center;
    color: white;
    font-size: 24px;
}

.score-container {
    padding: 4px 0px;
    flex: auto;
    display: flex;
    justify-content: space-evenly;
    background-color: black;
}

.choice-container {
    flex: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 16px;
    padding: 5px 15px;
}

.result-container {
    padding: 4px 0px;
    flex: auto;
    display: flex;
    justify-content: space-evenly;
    background-color: black;
}

.player-options {
    margin-top: 16px;
    flex: auto;
    display: flex;
    justify-content: space-between;
    width: 35%;
}

.btn-style-two {
  cursor: pointer;
  outline: none;
  background-color: #0497aa;
  border: none;
  border-radius: 15px;
  box-shadow: -1px 9px #999;
}

.btn-style-two:hover {
    background-color: #3e7a8e
}

.btn-style-two:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.end-section {
    text-align: center;
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.btn-style-three {
  display: inline-block;
  padding: 15px 50px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #aa3604;
  border: none;
  border-radius: 15px;
  box-shadow: -1px 9px #999;
}

.btn-style-three:hover {
    background-color: #b42626
}

.btn-style-three:active {
  background-color: #d94426;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 12px;
}

img {
    min-width: 0;
    width: 95%;
    height: 95%;
    border-radius: 10px;
    pointer-events: none;
}
/* .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

#round-container {
    margin-top: 50px;
    text-align: center;
    font-size: large;
}

.score-container {
    text-align: center;
    font-size: large;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 16px;
    padding: 25px 100px;
}

.test-text {
    margin-top: 10px;
    text-align: center;
    font-size: large;
}

.header {
    text-align: center;
}

.reset-container {
    margin-top: 50px;
    align-self: center;
}

.hidden {
    visibility: hidden;
}

button {
    width: 100px;
    height: 60px;
}

#rock,
#paper,
#scissors,
#reset {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    font-size: 10vw;
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
}
#rock:hover,
#paper:hover,
#scissors:hover,
#reset:hover {
    background-color: rgba(255, 255, 255, 0.357);
} */