body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: lightblue;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

#round-container {
    margin-top: 50px;
    text-align: center;
    font-size: large;
}

.score-container {
    text-align: center;
    font-size: large;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 16px;
    padding: 25px 100px;
}

.test-text {
    margin-top: 10px;
    text-align: center;
    font-size: large;
}

.header {
    text-align: center;
}

.reset-container {
    margin-top: 50px;
    align-self: center;
}

.hidden {
    display: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 12px;
}

button {
    width: 100px;
    height: 60px;
    /* background-color: thistle; */
}